* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.gallery {
  margin: 50px auto;
  padding: 0;
  width: calc((360px * 3) + 24px * 2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  list-style-type: none;
}

.gallery-item {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 200px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image:hover {
  /* Встановлюємо вигляд курсора - файл користувача */
  cursor: url('../img/hand-down.png'), pointer;
}
